/* src/pages/HomePage.css */
.home-page {
    background-color: #D2B48C; /* Cor de fundo amadeirada */
    min-height: max-content;
    padding: 20px;
    background-size: cover;
    background-position: center;
  }
  